<div class="row">
    <div class="col-lg-12">
        <span class="pull-left">
            <button type="button" class="btn btn-warning btn-circle btn-lg" ng-click="home()">
                <i class="fa fa-coffee"></i>
            </button>
        </span>

        <h1 class="page-header">Coffee Ordered</h1>
    </div>
</div>


<div class="row">
    <div class="col-lg-3 col-md-6" data-ng-repeat="item in items">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-coffee fa-5x"></i>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

