.navbar {
    box-shadow: /* Shadow beneath the bar and edge highlights. */
        /* Layered single pixel shadows to create a one sided shadow effect. */
    0 5px 0 0 rgba(0, 0, 0, 0.01),
    0 4px 0 0 rgba(0, 0, 0, 0.02),
    0 3px 0 0 rgba(0, 0, 0, 0.04),
    0 2px 0 0 rgba(0, 0, 0, 0.06),
    0 1px 0 0 rgba(0, 0, 0, 0.08),
        /* Top highlight */
    0 1px 0 0 rgba(255, 255, 255, 0.1) inset,
        /* Left highlight */
    1px 0 0 0 rgba(255, 255, 255, 0.1) inset,
        /* Right highlight */
    -1px 0 0 0 rgba(255, 255, 255, 0.1) inset,
        /* Bottom lowlight */
    0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;

    /* Glass gradient overlay. */
    /*background-image: -webkit-linear-gradient(top, rgba(255,255,255, 0.05) 50%, rgba(0,0,0, 0.02) 51%); /!*  Webkit syntax. *!/*/
    /*background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 50%, rgba(0, 0, 0, 0.02) 51%); /!* Final syntax. *!/*/
    /*background-size: 100%;*/
    /*background-repeat: no-repeat;*/

    /* Bootstrap Changes */
    border: none;
    width: 100%;
    left: auto;
    right: auto;
}

#logo {
    font-family: Arial;
    font-size: 24pt;
    font-weight: bold;
    margin-top: 2px;
    text-align: center;
}

#logo a{
    color: white;
    text-decoration: none;
}


#top-arrow {
    padding-top: 17px;
    padding-bottom: 13px;
}

.navbar .sb-toggle-left {
    width: 58px;
    float: left;
    padding: 14px;
}

.navbar .sb-toggle-right {
    width: 58px;
    float: right;
    padding: 14px;
}

.sb-toggle-left, .sb-toggle-right, .sb-open-left, .sb-open-right, .sb-close {
    cursor: pointer;
}

.sb-right {
    margin-top: 50px;
}

.navicon-line {
    width: 24px;
    height: 4px;
    border-radius: 1px;
    margin-bottom: 3px;
    background-color: #fff;
}

/* Slidebars */

.sb-slidebar {
    background-color: #222222;
}

/* ---------------
 * 003 - Slidebars
 */

.sb-slidebar {
    background-color: #222222; /* Background colour. */
    color: #e8e8e8; /* Text colour. */
}

.sb-slidebar a {
    color: #FF3971;
    text-decoration: none;
}

.sb-slidebar a:hover {
    color: #E83165; /* Link hover colour. */
    text-decoration: underline;
}

/* Main Menu */
.sb-menu { /* Apply to <ul> or <ol>. */
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sb-menu li {
    width: 100%;
    padding: 0;
    margin: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1); /* Will lighten any background colour you set. */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Will darken any background colour you set. */
}

.sb-menu > li:first-child {
    border-top: none; /* Removes top border from first list item.. */
}

.sb-menu > li:last-child {
    border-bottom: none; /* Removed bottom border from last list item. */
}

.sb-menu li a {
    width: 100%; /* Makes links full width. */
    display: inline-block;
    padding: 1em; /* Creates an even padding the same size as your font. */
    color: #f2f2f2;
}

.sb-menu li a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.05); /* Will lighten any background colour you set. */
}

/* Borders */
.sb-left .sb-menu li a {
    border-left: 3px solid transparent;
}

.sb-left .sb-menu li a:hover {
    border-left: 3px solid; /* Removes transparent colour, so border colour will be the same as link hover colour. */
}

.sb-right .sb-menu li a {
    border-right: 3px solid transparent;
}

.sb-right .sb-menu li a:hover {
    border-right: 3px solid; /* Removes transparent colour, so border colour will be the same as link hover colour. */
}

/* Left */
.sb-menu li .sb-open-right, .sb-menu li small {
    display: inline-block;
    padding: 14px;
}

.sb-menu li img {
    margin: 14px;
}

#page-wrapper{
    padding-top: 40px;
    margin: 0;
}