<div class="row">
    <div class="col-sm-6 col-md-12">
        <div class="account-wall">
            <h1 class="text-center login-title">Sign in to continue</h1>
            <img class="profile-img"
                 src="https://lh5.googleusercontent.com/-UWQRgHWTdGc/AAAAAAAAAAI/AAAAAAAAAAA/jcO0Lo117So/photo.jpg?sz=120"
                 alt="">

            <form class="form-signin" ng-submit="post(username, password)" method='POST'>
                <input type="text" class="form-control" placeholder="Email" ng-model="username" required autofocus>
                <input type="password" class="form-control" placeholder="Password" ng-model="password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                <blockquote>
                    <p>Hint</p>
                    <small>bob:secret</small>
                </blockquote>
            </form>
        </div>
    </div>
</div>
