<form method="post">
        <button ng-click="create({type:'large'})" type="submit" class="btn btn-default btn-circle btn-xl">
            <i class="fa fa-coffee"></i>
        </button>
        <button ng-click="create({type:'medium'})" type="submit" class="btn btn-default btn-circle btn-lg">
            <i class="fa fa-coffee"></i>
        </button>
        <button ng-click="create({type:'small'})" type="submit" class="btn btn-default btn-circle btn-med">
            <i class="fa fa-coffee"></i>
        </button>

</form>

