

<div class="panel-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Takeaway Coffee</h4>

                </div>
                <div class="timeline-body">
                    <button ng-click="create(newOrder, 'type')" type="submit" class="btn btn-default btn-circle btn-xl">
                        <i class="fa fa-car"></i>
                    </button>
                </div>

            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Have here</h4>
                </div>
                <div class="timeline-body">
                    <button ng-click="create(newOrder, 'type')" type="submit" class="btn btn-default btn-circle btn-xl">
                        <i class="fa fa-group"></i>
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>

