<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Paid Orders ({{orders.length}})</h1>
    </div>
</div>

<div class="row" ng-hide="orders | isEmpty">
    <div class="col-lg-12">
        <div class="jumbotron">
            <p>There are currently no orders</p>
        </div>
    </div>
</div>

<div class="row" ng-show="orders | isEmpty">
    <div class="col-lg-3 col-md-6" data-ng-repeat="order in orders">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-coffee fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">2</div>
                        <div>{{ order.type }}</div>
                    </div>
                </div>
            </div>
            <a href="#" ng-click="gotoOrder(order)">
                <div class="panel-footer">
                    <span class="pull-left">3 mins</span>
                    <span class="pull-right"><button type="button" class="btn btn-default btn-circle btn-lg"><i class="fa fa-check"></i>
                    </button></span>

                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
