
<div class="page-header">
    <h1>Coffee
        <small>Orders</small>
    </h1>
</div>


<div ng-hide="orders | isEmpty">
    <div class="container-fluid">
        <div class="jumbotron">
            <h2 class="text-center">There are currently no orders.</h2>
        </div>
    </div>
</div>


<div ng-show="orders | isEmpty" class="container">
    <div class="row>">
        <div data-ng-repeat="order in orders" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <a ng-click="gotoOrder(order)">
                <div class="item">
                    <div class="item-header"></div>
                    <div class="item-description">
                        <h3>{{ order.type }}</h3>
                        <p class="text-muted visible-lg-*" ng-show="order.state">{{ order.state }}</p>
                    </div>
                    <div class="item-description">
                            <h3>{{ order.value.units }}{{ order.value.amount }}</h3>
                            <h5 ng-show="order.extras">{{order.extras}}</h5>
                            <blockquote class=" text-muted text-smaller blockquote-reverse">
                                <p><span class="glyphicon glyphicon-time"></span>&nbsp;Ready by: {{ order.repeat.to | timeago }}</p>
                            </blockquote>
                    </div>
                    <div class="item-footer text-muted text-smaller">
                        <p >
                            <span class="glyphicon glyphicon-time"></span>&nbsp;<b>Ordered at {{order.repeat.from | timeago }}</b>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
