<form class="form-horizontal" ng-submit="post()" method='POST'>
    <div class="modal-header">
        <h3 id="myModalLabel">Payment Required</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">

            <div class="controls">
                <div>Processing for {{item.type}} - complete. Token below.</div>
            </div>
            <div class="controls">
               <input type="text" disabled id="inputToken" placeholder="Token" ng-model="token"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn" value="Ok"/>
                <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
            </div>
        </div>
    </div>
</form>
