<div class="jumbotron">
    <h1>Can I take your coffee order?</h1>
    <p class="lead">Enter away!</p>
    <div create-form></div>
    <hr>
</div>

<div ng-hide="collection.item | isEmpty">
    There are no current orders.
</div>

<div ng-show="collection.item | isEmpty">
    <h4>Current orders:</h4>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Size</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr class="table" ng-repeat="item in collection.item">
            <td>
                <a id="{{getFragment(item)}}">{{$index + 1}}</a>
            </td>
            <td>
                <span viewing>{{item.type}}</span>
                <span updating edit-form></span>
                <a cancelable>Cancel</a>
            </td>
            <td>
                <pay model="item"/>
            </td>
            <td>
                <a editable>Edit</a>
                <span removeable delete-form></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>