
<div class="item">
    <div class="item-header">    </div>
    <div class="item-description">
        <h3>{{ coupon.type }}</h3>
        <span class="pull-right" ng-include="'./scripts/template/order/delete.html'" />
        <a ng-click="gotoNextState()"><p class="visible-lg-*" ng-show="coupon.state">{{ coupon.state }}</p></a>
    </div>
    <div class="item-description">
        <img src="{{coupon.image}}" />
        <div />
        <h3>{{ coupon.value.units }}{{ coupon.value.amount }}</h3>
        <h5 ng-show="coupon.termsAndConditions">{{coupon.termsAndConditions}}</h5>
        <blockquote class=" text-muted text-smaller blockquote-reverse">
            <p><span class="glyphicon glyphicon-time"></span>&nbsp;Finishes: {{ coupon.repeat.to | timeago }}</p>
        </blockquote>
    </div>
    <div class="item-footer text-muted text-smaller">
        <p >
            <span class="glyphicon glyphicon-time"></span>&nbsp;<b>{{coupon.repeat.from | timeago }}</b>
        </p>
    </div>


</div>
