<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- styles -->
    <link rel="stylesheet" href="/dist/style.css">
    <!-- fav and touch icons -->
    <!--<link rel="shortcut icon" href="/img/icons/favicon.ico">-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/icons/apple-touch-icon-144-precomposed.png">-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/icons/apple-touch-icon-114-precomposed.png">-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/icons/apple-touch-icon-72-precomposed.png">-->
    <!--<link rel="apple-touch-icon-precomposed" href="/img/icons/apple-touch-icon-57-precomposed.png">-->

    <style type="text/css">
          body {
             padding-bottom: 40px;
          }

          /* Custom container */
          .container-narrow {
            margin: 0 auto;
            max-width: 700px;
          }
          .container-narrow hr {
            margin: 70px 0;
          }

          /* Main marketing message and sign up button */
          .jumbotron {
            margin: 60px 0;
            text-align: center;
          }
          .jumbotron h1 {
            font-size: 46px;
            line-height: 1;
          }
          .jumbotron .btn {
            font-size: 21px;
            padding: 14px 24px;
          }

          /* Supporting marketing content */
          .marketing {
            margin: 60px 0;
          }
          .marketing p + h4 {
            margin-top: 28px;
          }

          /* FIX - now found in 2.0.2 - bootstrap */
          .modal > form {
              margin-bottom: 0;
          }
          .table td > form, .table td form, td a, td span {
            margin-bottom: 0;
            display: inline;
          }

          buttons-radio {
            margin-bottom: 20px;
            display: block;
          }

    </style>

    {{{link_rel}}}
    {{{auth_rel}}}

  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="#">Making Coffee for You!</a>
            </div>
          </div>
        </div>
    </div>

    <div id="authenticator" class="authenticator" ng-controller="AuthenticatorCtrl"></div>

    <div class="container-narrow">
      <div id="main-container" >
        {{{body}}}
      </div>

      <hr>

      <div class="footer">
        <p>&copy; Company 2012</p>
      </div>
     </div>
  </body>
</html>
